<div class="columns">
  <div class="price-header {{ ul_class }}">
    <img class="img-responsive" src="{{ img_src }}">{{ plan.title }}
  </div>
  <ul class="price">
    {{ plan.description }}
  </ul>
  <div class="grey"><a href="#" class="button">Select</a></div>
</div>