<div class="page-width">
  <div class="index-section">
    {% for social in linklists.socials-menu.links %}
    	{{ social.title }}
    {% endfor %}
  </div>
</div>
{% schema %}
  {
    "name": "Section name",
    "settings": [],
	"presets": [
		{
			"name": "Follow us",
			"category": "Store information"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
